bidict==0.23.1
blinker==1.7.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
cysignals==1.11.4
Flask==3.0.2
Flask-Cors==4.0.0
Flask-SocketIO==5.3.6
future==1.0.0
h11==0.14.0
idna==3.6
iso8601==2.1.0
itsdangerous==2.1.2
Jinja2==3.1.3
MarkupSafe==2.1.5
numpy==1.26.4
opencv-python==4.9.0.80
pupil_detectors==2.0.2
# pupil_labs_uvc @ file:///app/pyuvc
python-engineio==4.9.0
python-socketio==5.11.1
PyYAML==6.0.1
requests==2.31.0
serial==0.0.97
setuptools==69.1.1
simple-websocket==1.0.0
urllib3==2.2.1
Werkzeug==3.0.1
wheel==0.43.0
wsproto==1.2.0
